

.Login {
  padding: auto;
  

}

.loginbutton{
  border-radius: 5%;
    background-color: #808285;
    color: #F7F9Fb;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    padding: 15px;
    font-size: 20px;
    width: 150px;
    transition: all 0.4s;
    cursor: pointer;
    margin:20px;
  margin-left:35px;

}
.loginbutton:hover{

  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.email{
  margin:20px;
  margin-left:35px;
  font-size: 25px;
}
.password{
  font-size: 25px;
  margin-left:35px;

}
  
.Login form {
  padding: 200px;
  margin-top: 10%;
  margin-left: 30%;

      
}
  
 nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #2d283e;
}

 .nav-links{
 
  display: flex;
  background-color: #2d283e;
 

} 

.nav-links li{
  list-style: none;
} 